<body>

  <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
      <nav id="primary-navigation" class="site-navigation">
          <div class="container">
              <div class="navbar-header page-scroll">

                  <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  
                 

              </div><!-- /.navbar-header -->

              <div class="main-menu" id="portfolio-perfect-collapse">

                  <ul class="nav navbar-nav navbar-right">

                      <li class="page-scroll"><a href="#hero">Home</a></li>
                      <li class="page-scroll"><a href="#about">About</a></li>
                      <li class="page-scroll"><a href="#service">Service</a></li>
                      <li class="page-scroll"><a href="#portfolio">Portfolio</a></li>
                      <li class="page-scroll"><a href="#experience">Experience</a></li>
                      
                  </ul><!-- /.navbar-nav -->

              </div><!-- /.navbar-collapse -->

          </div>
      </nav><!-- /.primary-navigation -->
  </header><!-- /#header -->

  <div id="hero" class="hero">
      <div class="container">
          <div class="row">

              <div class="col-md-6">
                  <h1>Mohammed Masood</h1>
                  <div class="page-scroll">
                      <p class="job-title">Web Developer Intern</p>
                      <a href="#about" class="btn btn-fill ">Hire me</a>
                      <div class="clearfix visible-xxs"></div>
                      <a href="#portfolio" class="btn btn-border">Explore more</a>
                  </div>
              </div>
          
              <div class="col-md-6 text-right">
                  <img src="./style/img/pp.png" alt="alex-vidal">
              </div>

          </div>
      </div>
  </div><!-- /.hero -->

  <main id="main" class="site-main">

      <section id="about" class="site-section section-about text-center">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                      <h2>About</h2>
                      <img src="./style/img/lines.svg" class="img-lines" alt="lines">
                      <p>Hello! I'm Mohammed Masood, A Web-developer(Intern) for   7 months of Internship in  Infographic Analytics. And currently working in the same as Web-developer</p>
                      <a href="./style/doc/Mohammedmasood-converted.pdf" class="btn btn-fill"  download="./style/doc/Mohammedmasood-converted.pdf">Download my cv</a>
                  </div>
              </div>
          </div>
      </section><!-- /.secton-about -->

      <section class="site-section section-skills">
          <div class="container">
              <div class="text-center">
                  <h3>My Skills</h3>
                  <img src="./style/img/lines.svg" class="img-lines" alt="lines">
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <div class="skill">
                          <h4>Html</h4>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div><!-- /.progress-bar -->
                          </div><!-- /.progress -->
                      </div><!-- /.skill -->
                      <div class="skill">
                          <h4>CSS</h4>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div><!-- /.progress-bar -->
                          </div><!-- /.progress -->
                      </div><!-- /.skill -->
                  </div>
                  <div class="col-md-4">
                      <div class="skill">
                          <h4>Javascript</h4>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" data-transitiongoal="82"></div><!-- /.progress-bar -->
                          </div><!-- /.progress -->
                      </div><!-- /.skill -->
                      <div class="skill">
                          <h4>jQuery</h4>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" data-transitiongoal="66"></div><!-- /.progress-bar -->
                          </div><!-- /.progress -->
                      </div><!-- /.skill -->
                  </div>
                  <div class="col-md-4">
                      <div class="skill">
                          <h4>Reactjs</h4>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" data-transitiongoal="50"></div><!-- /.progress-bar -->
                          </div><!-- /.progress -->
                      </div><!-- /.skill -->
                      <div class="skill">
                          <h4>Angular</h4>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" data-transitiongoal="80"></div><!-- /.progress-bar -->
                          </div><!-- /.progress -->
                      </div><!-- /.skill -->
                  </div>
              </div>
          </div>
      </section><!-- /.secton-skills -->

      <section id="service" class="site-section section-services overlay text-center">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h3>What i do</h3>
                      <img src="./style/img/lines.svg" class="img-lines" alt="lines">
                  </div>
                  <div class="col-sm-6">
                      <div class="service">
                          <h4>Front-end</h4>
                          <p>As a Web-developer, I have experience in HTML5 and CSS techniques working with jQuery or more advanced javascript MVC frameworks such as Angular and Reactjs</p>
                      </div><!-- /.service -->
                  </div>
                  <div class="col-sm-6">
                      <div class="service">
                          <h4>Back-end</h4>
                          <p>Utilising Firebase as backe-end for the data storage  and more.</p>
                      </div><!-- /.service -->
                  </div>
                 
              </div>
          </div>
      </section><!-- /.secton-services -->

      <section id="portfolio" class="site-section section-portfolio">
          <div class="container">
              <div class="text-center">
                  <h3>My recent Works</h3>
                  <img src="./style/img/lines.svg" class="img-lines" alt="lines">
              </div>
              <div class="row">
                  <div class="col-md-12 col-xs-6">
                      <div class="portfolio-item">
                          <img src="./style/img/Portfolio-1.jpg" class="img-res" alt="">
                          <div class="portfolio-item-info">
                              <h4>uwc</h4>
                              <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                             
                          </div><!-- /.portfolio-item-info -->
                      </div><!-- /.portfolio-item -->
                  </div>
               
                 
                 
                 
                  
              </div>
          </div>
      </section><!-- /.secton-portfolio -->

      <section class="site-section section-counters text-center" id="experience">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4 col-xs-12">
                      <p class="counter start" data-to="1" >1</p>
                      <h4>Internship Experience</h4>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                      <p class="counter start" data-to="1" >1</p>       
                      <h4>Projects Worked</h4>      
                  </div>
                  <div class="col-sm-4 col-xs-12">
                      <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                      <h4> your Seconds on this site!</h4>
                  </div>
              </div>
          </div>
      </section><!-- /.section-counters -->

   
  </main><!-- /#main -->

  <footer id="colophon" class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 col-xs-12">
                 
                  <a class="icon gplus-bg" href="https://www.linkedin.com/in/mohammed-masood-7256731ab"><i class="icon-linkedin"></i></a>
                
              </div>
              <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3"><p class="copyright">@Mohammmed Masood</p></div>
              <div class="col-sm-4 col-xs-3">
                  <div class="text-right page-scroll">
                      <a class="icon icon-up-bg" href="#hero"><i class="icon-up"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </footer><!-- /#footer -->

  <!-- Modals -->
  <div id="portfolioItem1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          <img class="img-res" src="./style/img/Portfolio-1.jpg" alt="">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">UWC</h4>
          <p>UWC is a dynamic platform used to manage the scope of project management to track project
              progress and its intrinsic details.UWC provides the holistic view of how,when,where and why
              the money is being spent on the project. it is for both mobile and web applications.</p>
        </div>
       
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



<router-outlet></router-outlet>